.RightButton {
  float: right;
  margin-bottom: 25px;
  margin-top: -4px;
}
.screenCenter {
  padding-top: 100px;
  text-align: center;
}
.formStyling {
  width: 25%;
  margin: auto;
  text-align: center;
}
